body, div, p, span, ol, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.player1Background {
  background-color: rgb(0, 0, 170)!important;
}
.player2Background {
  background-color: rgb(170, 0, 0)!important;
}
.player1Text {
  color: rgb(0, 0, 170)!important;
}
.player2Text {
  color: rgb(170, 0, 0)!important;
}

.playerName {
  font-style: italic;
}

.gameRegion {
  position: relative;
  float: left;
  margin: 20px 0 0 20px;
}

.board {
}

.gameInfo {
}

.column {
  position: relative;
  float:left;
}

.tile {
  position: relative;
  width: 90px;
  height: 90px;
  background-color: rgb(220,190,60);
}

.hole {
  content: '';
   display: inline-block;
   position:relative;
   width: 86%;
   height: 86%;
   left: 7%;
   top: 7%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   background-color: white;
}

.unwinningTile .hole {
  background-color: lightgray;
}

.unwinningTile .hole.player1Background, .unwinningTile .hole.player2Background {
  opacity: .6;
}

.winningTile .hole {
  border: 3px solid yellow;
}

.playerNameInputArea {
  margin-bottom: 10px;
  font-size: 18px;
}

.restartButton {
  font-size: 18px;
}

.currentPlayer {
  margin-top: 30px;
}

.victoryText {
  margin-top: 30px;
}